A bunch of nodes
[
{
  "id":"d41a3f33.e20d3",
  "type":"twilio-api",
  "z":"8fa5f010.2252c",
  "sid":"ACe9aa5682e1a5d34f80e24b67bff7d91c",
  "from":"+12048137796",
  "name":""
},
{
  "id":"f5752287.c0d728",
  "type":"Jilia Device",
  "z":"8fa5f010.2252c",
  "jiliaName":"",
  "jiliaDevice":
  "aa5a356f-498b-4948-b5b2-4a4f64b6e465",
  "jiliaDeviceType":"contact",
  "jiliaMonitor":"ws://localhost:1337/servers/e9e6cd80-982f-4bb3-b53f-0772371fe0f5/events?topic=contact%2Faa5a356f-498b-4948-b5b2-4a4f64b6e465%2Fstatus",
  "jiliaMonitorFilter":"any",
  "jiliaAction":"","jiliaActionField0":"",
  "jiliaActionField1":"",
  "jiliaActionField2":"",
  "jiliaActionField3":"",
  "jiliaActionField4":"",
  "x":149,
  "y":128,
  "wires":[["55a930ef.e732c"]]},
{
  "id":"55a930ef.e732c",
  "type":"debug",
  "z":"8fa5f010.2252c",
  "name":"",
  "active":false,
  "console":"false",
  "complete":"payload",
  "x":347,
  "y":136,
  "wires":[]
},
{
  "id":"13a08d75.ba0b83",
  "type":"Jilia Device",
  "z":"8fa5f010.2252c",
  "jiliaName":"",
  "jiliaDevice":"635b5e15-aedb-4571-8498-70da75a19979",
  "jiliaDeviceType":"occupancy",
  "jiliaMonitor":"ws://localhost:1337/servers/e9e6cd80-982f-4bb3-b53f-0772371fe0f5/events?topic=occupancy%2F635b5e15-aedb-4571-8498-70da75a19979%2Fmotion",
  "jiliaMonitorFilter":"any",
  "jiliaAction":"",
  "jiliaActionField0":"",
  "jiliaActionField1":"",
  "jiliaActionField2":"",
  "jiliaActionField3":"",
  "jiliaActionField4":"",
  "x":164,
  "y":212,
  "wires":[["92a679b3.526b18"]]
},
{
  "id":"92a679b3.526b18",
  "type":"debug",
  "z":"8fa5f010.2252c",
  "name":"",
  "active":false,
  "console":"false",
  "complete":"payload",
  "x":352,
  "y":220,
  "wires":[]
},
{
  "id":"626abdf2.1d7ce4",
  "type":"inject",
  "z":"8fa5f010.2252c",
  "name":"Start",
  "topic":"",
  "payload":"How much bacon",
  "payloadType":"str",
  "repeat":"",
  "crontab":"",
  "once":false,
  "x":127,
  "y":340,
  "wires":[["bcf49cd8.0621c","a7b81752.624b08"]]
},
{
  "id":"a7b81752.624b08",
  "type":"function",
  "z":"8fa5f010.2252c",
  "name":"create url",
  "func":"var q = msg.payload;\nmsg.url = \"https://a2f71a4a-71ee-421c-990b-d656991209bb:oPFQJS3uczbY@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/scefdd3677_2383_4b74_a09d_eb710cc37e84/solr/hack_collection/select?q=\" + q + \"&wt=json&fl=id,title\";\nreturn msg;",
  "outputs":1,
  "noerr":0,
  "x":321,
  "y":341,
  "wires":[["c969c833.55b538","b3712a7c.b77508"]]
},
{
  "id":"c969c833.55b538",
  "type":"http request",
  "z":"8fa5f010.2252c",
  "name":"Ask question to Watson",
  "method":"GET",
  "ret":"txt",
  "url":"",
  "x":547,
  "y":337,
  "wires":[["8782dd12.6e0cd"]]
},
{
  "id":"8782dd12.6e0cd",
  "type":"json",
  "z":"8fa5f010.2252c",
  "name":"",
  "x":747,
  "y":415,
  "wires":[["b6eb369d.e35808"]]
},
{
  "id":"b6eb369d.e35808",
  "type":"function",
  "z":"8fa5f010.2252c",
  "name":"Reduce JSON return",
  "func":"msg.payload = msg.payload.response.docs[1];\nreturn msg;",
  "outputs":1,
  "noerr":0,
  "x":837,
  "y":335,
  "wires":[["bd01170e.92c9f8"]]
},
{
  "id":"bd01170e.92c9f8",
  "type":"json",
  "z":"8fa5f010.2252c",
  "name":"",
  "x":944,
  "y":394,
  "wires":[["51da12c1.18f36c","1391f11c.74e17f"]]
},
{
  "id":"51da12c1.18f36c",
  "type":"debug",
  "z":"8fa5f010.2252c",
  "name":"",
  "active":true,
  "console":"false",
  "complete":"false",
  "x":1311,
  "y":254,
  "wires":[]
},
{
  "id":"bcf49cd8.0621c",
  "type":"debug",
  "z":"8fa5f010.2252c",
  "name":"",
  "active":false,
  "console":"false",
  "complete":"false",
  "x":305,
  "y":422,
  "wires":[]
},
{
  "id":"b3712a7c.b77508",
  "type":"debug",
  "z":"8fa5f010.2252c",
  "name":"",
  "active":false,
  "console":"false",
  "complete":"url",
  "x":540,
  "y":419,
  "wires":[]
},
{
  "id":"39189f87.4dac2",
  "type":"debug",
  "z":"8fa5f010.2252c",
  "name":"",
  "active":true,
  "console":"false",
  "complete":"true",
  "x":419,
  "y":512,
  "wires":[]
},
{
  "id":"8bf85c04.66a6c",
  "type":"http in",
  "z":"8fa5f010.2252c",
  "name":"AlwaysBroken",
  "url":"http://192.168.4.227:2000/sendData",
  "method":"get","swaggerDoc":"",
  "x":158,
  "y":512,
  "wires":[["39189f87.4dac2"]]
},
{
  "id":"1391f11c.74e17f",
  "type":"twilio out",
  "z":"8fa5f010.2252c",
  "service":"_ext_",
  "twilio":"d41a3f33.e20d3",
  "from":"",
  "number":"6479742794",
  "name":"",
  "x":1341,
  "y":415,
  "wires":[]
},
{
  "id":"d3bcaef9.713e7",
  "type":"inject",
  "z":"8fa5f010.2252c",
  "name":"",
  "topic":"",
  "payload":"dsakjb[bdsakh]dwk",
  "payloadType":"str",
  "repeat":"",
  "crontab":"",
  "once":false,
  "x":505,"y":594,
  "wires":[["a24f5f6c.48b88"]]
},
{
  "id":"bfcacd3.8aa523",
  "type":"debug",
  "z":"8fa5f010.2252c",
  "name":"",
  "active":true,
  "console":"false",
  "complete":"false",
  "x":946,
  "y":592,
  "wires":[]
},
{
  "id":"a24f5f6c.48b88",
  "type":"function",
  "z":"8fa5f010.2252c",
  "name":"Slicer",
  "func":"var work = msg.payload;\nvar startBr = work.search('[[]');\nvar endBr = work.search('[]]');\n\nmsg = work.slice(startBr,endBr);\nreturn msg;",
  "outputs":1,
  "noerr":0,
  "x":694,
  "y":595,
  "wires":[["bfcacd3.8aa523"]]
}
]
